:root {


}

.m{
  margin-left: 3%;
}
.row{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  gap: 10%;
  margin-left: 65%;
  z-index: 999;
}

.pai2 {
  display: flex;
  flex-direction: column;
  width: 80vw;
  position: relative;
  /* padding: 60px; */
  margin-top: 210%;
}

.pai2 img{
  width: 23%;
  height: 380px;
  border-radius: 50%;
  border: solid 3px white;
}


.filho1, .filho2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filho1 {
  max-width: 95%;
}

.filho2 {
  margin-left: 10%;
  margin-top: 6%;
  width: 100%;
}

.image {
  display: flex;
  position: absolute;
  width: 20%;
  height: 100%;
  left: 42%;
}


.second{
  display: flex;
  color: aliceblue;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.specifics{
  display: flex;
  border-radius: 20px;
  width: 80%;
  gap: 3%;
  color: aliceblue;
  justify-content: center;
  margin-top: 2%;
  padding: 2%;
}

.specifics img{
  background-color: #173e66;
  padding: 2%;
  border-radius: 20px;
}

.languages{
  display: flex;
  flex-direction: row;
  width: 15%;
  height:250px;
}


.third{
  display: flex;
  align-items: center;
  flex-direction: column;

  color: aliceblue;
  margin-top: 15%;
}

.projects{
  display: flex;
  align-items: center;
  background-color: #173e66;
  width: 80%;
  justify-content: space-around;
  margin: 3%;
  padding: 1%;
  border-radius: 20px;
  flex-direction: row;
  
}
.projects img{
  width: 30%;
  margin: 1%;
  border-radius: 10px;
}

.fourth{
  display: flex;
  align-items: center;
  color: aliceblue;
}

.row a{
  text-decoration: none;
  color: black;
} 

