.m{
  margin-left: 3%;
}
.row{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  gap: 10%;
  margin-left: 60%;
  z-index: 999;
}

.pai2 {
  display: flex;
  flex-direction: column;
  width: 80vw;
  position: relative;
  margin-top: 210%;
}

.pai2 img{
  aspect-ratio: 1;  
  width: 22%;
  object-fit: cover;
  border-radius: var(--border_50);
  border: solid 3px var(--alice);
}


.filho1, .filho2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filho1 {
  max-width: 95%;
}

.filho2 {
  margin-left: 10%;
  margin-top: 6%;
  width: 100%;
}

.image {
  display: flex;
  position: absolute;
  width: 20%;
  height: 100%;
  left: 42%;
}


.second{
  display: flex;
  color: var(--alice);
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.specifics{
  display: flex;
  border-radius: var(--border_20);
  width: 80%;
  gap: 3%;
  color: var(--alice);
  justify-content: center;
  margin-top: 2%;
  padding: 2%;
}

.specifics img{
  background-color: var(--image_back);
  padding: 2%;
  border-radius: var(--border_20);
}

.specifics a{
   width: 300px;
  height: 30px;
}

.languages{
  display: flex;
  flex-direction: row;
  width: 250px;
  height:300px;
}


.third{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--alice);
  margin-top: 15%;
}

.projects{
  display: flex;
  align-items: center;
  background-color: var(--image_back);
  width: 80%;
  justify-content: space-around;
  margin: 3%;
  padding: 1%;
  border-radius: var(--border_20);
  flex-direction: row;
  
}
.projects img{
  width: 30%;
  margin: 1%;
  border-radius: 10px;
}

.fourth{
  display: flex;
  align-items: center;
  color: var(--alice);
}

.row a{
  text-decoration: none;
  color: var(--alice);
  border:15px;
  padding: 2%;
  background-color: var(--input_color);
  border-radius:var(--border_20);
} 

