:root {
  --back_color: #0c243C;
  --input_color: #113b64;
  --image_back: #173e66;
  --black: black;
  --suse: "SUSE", sans-serif;
  --alice: aliceblue;

  --border_20: 20px;
  --border_50: 50%;

}

*{
  margin: 0px;  
  padding: 0px;
  box-sizing: border-box;   
  font-family: var(--suse);
}

a{
  text-decoration: none;
  color: var(--alice);
}

a:hover{
  color: var(--black);
  -xpedu-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
body{
  background-color: var(--back_color);
  width: 100vw;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--back_color);
  width: 100%;
  height: 10vh;
}

main{
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  border: none;
  background-color: var(--input_color);
  border-radius: 7px;
  height: 30px;
  font-size: 1em;
}
p {
  font-size: 6rem;
  color: var(--alice);
}

h1{
  font-size: 70px;
}

html{
  scroll-behavior: smooth;
}

